.homepage-wrapper {
    margin-left: 5rem;
    padding-left: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-secondary);
  }
  .homepage-header {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 100px;

  }