:root[color-mode='light'] {
    font-size: 16px;
    --bg-primary: #b6b6b6;
    --bg-secondary: #ececec;
    --text-primary: #23232e;
    --text-secondary: #141418;
    --transition-speed: 600ms;
    --active: blue;
    --bg: white;
}
:root[color-mode='dark'] {
    font-size: 16px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    --active:blue;
    --bg: #17171b;
}
