.not-found-wrapper {
    margin-left: 5rem;
    padding-left: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-secondary);
  }
  .not-found-header {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 100px;

  }

  @media screen and (max-width: 600px) {
    .not-found-wrapper {
      margin: 0px;
      width: 100%;
    }
  }